
body{
padding: 50px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nombre{
color: tomato
}
#holmes{
color: antiquewhite;

}

#numero{
color: antiquewhite; 
margin: 1%;   
}
#mail{
color: antiquewhite;
padding: 2%;

}

#arriba{
display: flex;
display: grid;
justify-content: center;
justify-items: center;
background-color: rgb(36, 36, 65);
margin-top: 0px; 
margin-bottom: 0px;
}

#informacionArriba{
display:flex;
justify-content: space-between;
background-color: antiquewhite;
}

#momo{
margin: 9px;    
border-radius: 50%;
border: 1px solid black;
}

#momoDiv{
margin-right: 75px;   
background-color: antiquewhite;
}


#texto{
padding: 20px;
width: 60%;
}

#negrita{
font-weight: bold;
}

.experience{
display: flex;
background-color: antiquewhite;
display: grid;
grid-template-columns:3fr 1fr;
grid-template-rows: 100%  40px;
grid-template-areas: 'main aside';

}

#dentro1{
grid-area: main;
background-color: antiquewhite;
margin-left: 20px;
margin-right: 0px;
border-right: 2px solid rgb(156, 155, 155);
border-top: 2px solid rgb(156, 155, 155);
}

#dentro2{
grid-area: aside;
background-color: antiquewhite;
margin-right:20px;
border-top: 2px solid rgb(156, 155, 155);
}

#resaltaciones{
padding-left: 20px;
}

#educacion{
padding-left: 20px;
}

.tomato{
color: tomato;

}
#fecha{
display: flex;
background-color: antiquewhite;
justify-content: flex-end;
padding-right: 20px;
}

#hobbies{
padding-left: 20px;
}

#parrafo{
padding-left: 20px;

}